@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FOT-Greco";
    src: url("/assets/FOT-Greco Std DB.ttf");
}

@layer base {
    input[type="text"], textarea {
        @apply dark:text-black;
    }

    h2 {
        @apply mb-1 opacity-30;
    }

    .hidden-radio {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
      }
      
      .radio-label {
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .hidden-radio:checked + .radio-label {
        @apply bg-gray-400 dark:bg-slate-600;
        transition: background-color 0.3s;
      }

      @keyframes bgMove {
          0% {
              background-position: 0 0;
          }
          100% {
              background-position: 0 -16px;
          }
      }
  
      .animate-bg {
          animation: bgMove 2s linear infinite;
      }

      .fadeout {
            animation: fadeOut 1s 5000ms forwards;
      }

        @keyframes fadeOut {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
}

@layer utilities {
    .sso-bg {
        background-image: url('https://sso.riiconnect24.net/media/public/flow-backgrounds/SSO-bg.png');
        background-size: cover;
    }

    .container {
        @apply max-w-screen-xl mx-auto lg:px-32 md:px-20 sm:px-10;
    }

}

