{{template "base.tmpl"}}
<div class="sm:mx-0 mx-4 mt-10">
    <h1 class="text-5xl font-bold">Clear inbounds/outbounds</h1>
    <h1 class="text-2xl mb-10">Clear inbound or outbound mail for a Wii Console, can help fix mail sending.</h1>
    <form action="/checkinout" enctype="multipart/form-data" method="post">
        <div class="flex gap-1">
            <input type="radio" name="type" id="inbound" value="inbound" class="hidden peer">
            <label for="inbound"
                class="flex items-center justify-center w-10 h-10 rounded-l-xl rounded-r-sm bg-gray-500/30 cursor-pointer transition-all peer-checked:bg-gray-500/60 hover:bg-gray-500/60">
                <i class="fa-solid fa-inbox"></i>
            </label>

            <input type="radio" name="type" id="outbound" value="outbound" class="hidden peer">
            <label for="outbound"
                class="flex items-center justify-center w-10 h-10 rounded-l-sm rounded-r-xl bg-gray-500/30 cursor-pointer transition-all peer-checked:bg-gray-500/60 hover:bg-gray-500/60">
                <i class="fa-solid fa-paper-plane"></i>
            </label>
        </div>
        <input type="text" name="wii_number" placeholder="Enter a number to check in/out" required>
        <input type="submit" value="Check">
    </form>
    <p>{{.Inbound}}</p>
    <p>{{.Outbound}}</p>

    <form action="/clear_messages" method="post" enctype="multipart/form-data">
        <input type="text" name="wii_number" id="" placeholder="Enter a Wii Number">
        <input type="submit" value="Clear Messages">
    </form>
</div>
{{template "footer.tmpl"}}