{{template "base.tmpl"}}
        <form method="POST" enctype="multipart/form-data" action="/send_message">
            <div>
                <label for="recipient_type">Recipient</label>
                <div class="flex items-center gap-4">
                    <div class="flex gap-2">
                        <label for="single">Single user</label>
                        <input type="radio" name="recipient_type" id="single" value="single" checked>
                    </div>
                    <div class="flex gap-2">
                        <label for="single">Multiple users</label>
                        <input type="radio" name="recipient_type" id="multiple" value="multiple">
                    </div>
                    <div class="flex gap-2">
                        <label for="all">All users</label>
                        <input type="radio" name="recipient_type" id="all" value="all">
                    </div>
                </div>
            </div>
            <div>
                <h2>Recipient</h2>
                <div>
                    <label for="recipient">Recipient</label>
                    <input type="text" name="recipient" id="recipient">
                </div>
            </div>
            <div>
                <h2>Subject</h2>
                <div>
                    <label for="subject">Subject</label>
                    <input type="text" name="subject" id="subject">
                </div>
            <div>
                <textarea name="message_content" id="" cols="30" rows="10"></textarea>
            </div>
            <input type="submit" value="Send">
        </form>
{{template "footer.tmpl"}}