{{template "base.tmpl"}}
{{if .Error}}
<p style="color: red">{{.Error}}</p>
{{end}}
<div id="recordModal"
    class="w-[600px] top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 bg-slate-700 border-2 border-slate-600 shadow-lg shadow-white/5 p-5 rounded-xl hidden z-20 fixed">
    <div class="flex flex-row items-center justify-between">
        <h1 class="text-xl font-bold"><i class="fa-solid fa-microphone"></i> Record Audio</h1>
        <i class="fa-solid fa-close text-xl hover:scale-110 hover:text-red-500 transition-all"
            onclick="toggle('recordModal')"></i>
    </div>
    <hr class="mt-3 mb-3">
    <div class="flex flex-row items-center gap-1">
        <div id="startRecordBtn"
            class="w-full p-3 bg-slate-500 hover:bg-slate-600 text-center rounded-l-lg rounded-r-sm transition-all"><i
                class="fa-solid fa-play"></i></div>
        <div id="stopRecordBtn"
            class="w-full p-3 bg-slate-500 hover:bg-slate-600 opacity-30 cursor-not-allowed text-center rounded-l-sm rounded-r-lg transition-all"
            disabled><i class="fa-solid fa-stop"></i></div>
    </div>
    <audio id="audioPlayback" class="w-full mt-3 rounded-lg" controls></audio>
    <br>
    <p class="opacity-60"><i class="fa-solid fa-circle-information"></i> Once recording stops, the recording will be
        downloaded to your device and will be able to add it using the "Add audio" button.</p>
</div>


<div class="flex flex-row items-start justify-center gap-10">
    <div class="hidden xl:flex top-7 w-2/3 h-[705px] p-5 shadow-lg shadow-white/10 rounded-xl flex-col gap-5 animate-bg overflow-hidden relative"
        style="background-image: url('assets/img/bg.png'); background-size: 8px 8px; background-repeat: repeat;">
        <p id="mailSubject"
            class="w-[calc(100%-80px)] top-10 left-1/2 -translate-x-1/2 text-center text-xl z-10 absolute truncate overflow-ellipsis whitespace-nowrap">
        </p>
        <p id="mailContent"
            class="w-[calc(100%-120px)] left-1/2 -translate-x-1/2 top-44 text-black font-serif z-10 absolute break-words leading-10 overflow-hidden"
            style="display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical;"></p>
        <img src="assets/img/placeholder_letterhead.png" id="letterPreview" alt="Letter Preview"
            class="w-[calc(100%-40px)] h-auto z-0 absolute" style="aspect-ratio: 1.36 / 1;">
        <img src="" id="thumbnailPreview" alt="Thumbnail Preview" class="bottom-10 w-32 h-auto absolute"
            style="display: none; aspect-ratio: 1.5 / 1;">
        <img src="" id="embedPreview" alt="Embed Preview"
            class="right-10 top-16 bg-white pl-1 pr-1 pt-1 pb-3 w-32 hover:scale-110 shadow-md shadow-black/20 h-auto hidden z-10 absolute transition-all">
        <img src="" id="miiPreview" alt="Mii Preview" class="top-[4.3rem] left-5 h-auto z-10 hidden absolute" width="100px">
    </div>
    <div class="pl-5 pr-5 sm:pl-0 sm:pr-0">
        <form method="POST" enctype="multipart/form-data" action="/send_message">
            <div class="mb-4">
                <h2>Send to</h2>
                <div class="flex flex-row items-center gap-[3px]">
                    <input type="radio" id="single" name="recipient_type" value="single" class="hidden-radio" />
                    <label for="single" title="Single user"
                        class="radio-label w-1/3 rounded-l-xl rounded-r-md bg-gray-300 hover:bg-gray-400 dark:bg-slate-700 dark:hover:bg-slate-600">
                        <i class="p-1 fa-solid fa-user w-full text-center dark:text-white"></i>
                    </label>

                    <input type="radio" id="multiple" name="recipient_type" value="multiple" class="hidden-radio" />
                    <label for="multiple" title="Multiple user"
                        class="radio-label w-1/3 rounded-md bg-gray-300 hover:bg-gray-400 dark:bg-slate-700 dark:hover:bg-slate-600">
                        <i class="p-1 fa-solid fa-users w-full text-center dark:text-white"></i>
                    </label>

                    <input type="radio" id="all" name="recipient_type" value="all" class="hidden-radio" />
                    <label for="all" title="Everybody"
                        class="radio-label w-1/3 rounded-l-md rounded-r-xl bg-gray-300 hover:bg-gray-400 dark:bg-slate-700 dark:hover:bg-slate-600">
                        <i class="p-1 fa-solid fa-globe-americas w-full text-center dark:text-white"></i>
                    </label>
                </div>
            </div>
            <div class="mb-4">
                <h2>Recipient</h2>
                <div>
                    <input type="text" name="recipient" id="recipient" required placeholder="Eg: 9999-9999-9000-0000"
                        class="w-full border rounded-lg p-2 text-black" oninput="formatRecipient(event)" />
                </div>
            </div>
            <div class="mb-4">
                <h2>Subject</h2>
                <div>
                    <input type="text" name="subject" id="subject" required
                        placeholder="Eg: New contests added for CMOC"
                        class="w-full border rounded-t-xl rounded-b-md p-2 text-black"
                        oninput="updateText(event, 'mailSubject')" />
                    <textarea name="message_content" id="" cols="30" rows="4"
                        class="mt-1 w-full border rounded-t-md rounded-b-xl p-2 text-black"
                        placeholder="Eg: There have been new contests posted for the Check Mii Out Channel! Go check them out and vote now!"
                        oninput="updateText(event, 'mailContent')"></textarea>
                </div>
                <div class="input mt-4 col-start-4 col-span-3 p-2 border rounded-xl bg-slate-600 border-slate-500">
                    <span class="mb-2 hover:cursor-help flex flex-row items-center justify-between gap-5"
                        title="Image attached to the mail."><b>Customization</b> <span class="opacity-30">(jpeg &
                            png)</span></span>
                    <label
                        class="bg-white cursor-pointer p-4 rounded-t-lg rounded-b-sm transition-all hover:bg-gray-200 text-black flex items-center justify-between gap-3"><i
                            class="fa-solid fa-circle-plus"></i>Add image
                        <input type="file" name="attachment" type="image/jpeg" class="hidden"
                            onchange="previewImage(event, 'embedPreview', 'thumbnailPreview2')" accept="image/jpeg" />
                        <img id="thumbnailPreview2" class="w-8 scale-150 hidden rounded-sm shadow-md rotate-3" />
                    </label>

                    <div class="mt-1 flex flex-row gap-1">
                        <label
                            class="w-1/2 bg-white cursor-pointer p-4 rounded-l-lg rounded-r-sm rounded-tl-sm transition-all hover:bg-gray-200 text-black flex items-center justify-between gap-3"
                            title="Add letter"><i class="fa-solid fa-envelope-open-text"></i>Add letter
                            <input type="file" id="letter" name="letter" type="image/png" class="hidden"
                                onchange="previewImage(event, 'thumbnailPreview', 'thumbnailPreview3')"
                                accept="image/png" />
                            <img id="thumbnailPreview3" class="w-5 scale-150 hidden rounded-sm shadow-md rotate-3" />
                        </label>
                        <label
                            class="w-1/2 bg-white cursor-pointer p-4 rounded-l-sm rounded-r-lg rounded-tr-sm transition-all hover:bg-gray-200 text-black flex items-center justify-between gap-3"
                            title="Add thumbnail"><i class="fa-solid fa-envelope"></i>Add thumbnail
                            <input type="file" id="thumbnail" name="thumbnail" type="image/png" class="hidden"
                                onchange="previewImage(event, 'thumbnailPreview', 'thumbnailPreview4')"
                                accept="image/png" />
                            <img id="thumbnailPreview4" class="w-5 scale-150 hidden rounded-sm shadow-md rotate-3" />
                        </label>
                    </div>
                    <hr class="mt-3 mb-3 opacity-30">
                    <div class="mt-1 flex flex-row gap-1">
                        <label
                            class="w-1/2 bg-white cursor-pointer p-4 rounded-l-lg rounded-r-sm transition-all hover:bg-gray-200 text-black flex items-center justify-between gap-3">
                            <i id="miiIcon" class="fa-solid fa-user"></i>Add Mii
                            <input type="file" id="mii" name="mii" class="hidden" accept=".miigx" onchange="hasMii()" />
                        </label>
                        <label
                            class="w-1/2 bg-white cursor-pointer p-4 rounded-l-sm rounded-r-lg transition-all hover:bg-gray-200 text-black flex items-center justify-between gap-3">
                            <i id="audioIcon" class="fa-solid fa-microphone"></i>Add audio
                            <input type="file" id="audio" name="audio" class="hidden" accept=".wav"
                                onchange="hasAudio()" />
                        </label>
                    </div>
                    <p class="mt-2 opacity-60 text-right hover:underline cursor-pointer" onclick="toggle('recordModal')">Record now</p>
                </div>
                <br>
                <button type="submit"
                    class="w-full p-3 bg-blue-500 hover:bg-blue-600 rounded-full transition-all flex items-center justify-center">
                    <i class="fas fa-paper-plane mr-2"></i> <b>Send</b>
                </button>
        </form>
    </div>
</div>

<script>
    function toggle(id) {
        const modal = document.getElementById(id);
        modal.classList.toggle('hidden');
    }

    function formatRecipient(event) {
        const input = event.target;
        let value = input.value.replace(/\D/g, ''); // Remove all non-digit characters
        value = value.substring(0, 16); // Limit to 16 digits
        value = value.match(/.{1,4}/g)?.join('-') || value; // Add hyphen after every 4 digits
        input.value = value;
    }

    function hasAudio() {
        document.getElementById('audioIcon').style.color = 'green';
    }

    function hasMii() {
        console.log('Mii added');
        document.getElementById('miiIcon').style.color = 'green';

        // Get the data inside the file and render the Mii
        const file = document.getElementById('mii').files[0];
        const reader = new FileReader();

        reader.onload = function () {
            const binaryString = reader.result;
            const base64String = btoa(binaryString);
            console.log('Base64 Encoded String:', base64String);

            renderMii(base64String).then((src) => {
                const miiPreview = document.getElementById('miiPreview');
                miiPreview.src = src;
                miiPreview.classList.remove('hidden');
            });
        };

        reader.readAsBinaryString(file);
    }

    function renderMii(base64String) {
        // Decode base64 string
        const binaryString = atob(base64String)
        const binaryLen = binaryString.length
        // Create binary array from base64 decoded string
        const bytes = new Uint8Array(binaryLen)
        // Fill the binary array
        for (let i = 0; i < binaryLen; i++) {
            const ascii = binaryString.charCodeAt(i)
            bytes[i] = ascii
        }

        // Create a blob object
        const blob = new Blob([bytes], { type: 'application/octet-stream' })

        // Create a file object from the blob
        const file = new File([blob], 'file.miigx')

        // Send the file to the server
        const formData = new FormData()
        formData.append('platform', 'wii')
        formData.append('data', file)

        // Use larsen's funky studio.cgi to get the data needed to render the mii
        return fetch('https://miicontestp.wii.rc24.xyz/cgi-bin/studio.cgi', {
            method: 'POST',
            body: formData
        })
            .then((response) => response.json())
            .then((data) => {
                const mii = data.mii

                // Render the mii using Nintendo's servers
                const src =
                    'https://studio.mii.nintendo.com/miis/image.png?data=' +
                    mii +
                    '&type=face_only&expression=normal&width=270&bgColor=FFFFFF00'

                // Return the mii image
                console.log(src)
                return src
            })
    }

    function previewImage(event, id, id2) {
        const reader = new FileReader();
        reader.onload = function () {
            const output = document.getElementById(id);
            const output2 = document.getElementById(id2);
            output.src = reader.result;
            output2.src = reader.result;
            output.classList.remove("hidden");
            output2.classList.remove("hidden");
        };
        reader.readAsDataURL(event.target.files[0]);
    }

    function updateText(event, id) {
        const output = document.getElementById(id);
        output.innerText = event.target.value;
    }

    // Get the letter file input and place it into the img
    function initializePreviews() {
        const letterInput = document.getElementById('letter');
        const letterPreview = document.getElementById('letterPreview');
        const thumbnailInput = document.getElementById('thumbnail');
        const thumbnailPreview = document.getElementById('thumbnailPreview'); // Ensure this element is correctly referenced

        letterInput.addEventListener('change', () => {
            const file = letterInput.files[0];
            const reader = new FileReader();

            reader.onload = () => {
                letterPreview.src = reader.result;
                letterPreview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        });

        thumbnailInput.addEventListener('change', () => {
            const file = thumbnailInput.files[0];
            const reader = new FileReader();

            reader.onload = () => {
                thumbnailPreview.src = reader.result;
                thumbnailPreview.style.display = 'block';
            };

            reader.readAsDataURL(file);
        });
    }

    document.addEventListener('DOMContentLoaded', initializePreviews);

    let mediaRecorder;
    let audioChunks = [];
    const startRecordBtn = document.getElementById('startRecordBtn');
    const stopRecordBtn = document.getElementById('stopRecordBtn');
    const audioPlayback = document.getElementById('audioPlayback');

    startRecordBtn.addEventListener('click', async () => {
        // Request user permission to access audio input
        stopRecordBtn.disabled = false;
        stopRecordBtn.classList.remove('opacity-30');
        stopRecordBtn.classList.remove('cursor-not-allowed');

        startRecordBtn.disabled = true;
        startRecordBtn.classList.add('opacity-30');
        startRecordBtn.classList.add('cursor-not-allowed');

        const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
        mediaRecorder = new MediaRecorder(stream);

        // When data is available, push it to audioChunks
        mediaRecorder.ondataavailable = event => {
            audioChunks.push(event.data);
        };

        // When recording stops, create a blob from the audio data and set it as the source for the audio element
        mediaRecorder.onstop = () => {
            try {
                stopRecordBtn.disabled = true;
                stopRecordBtn.classList.add('opacity-30');
                stopRecordBtn.classList.add('cursor-not-allowed');

                startRecordBtn.disabled = false;
                startRecordBtn.classList.remove('opacity-30');
                startRecordBtn.classList.remove('cursor-not-allowed');
                const audioBlob = new Blob(audioChunks, { type: 'audio/wav' });
                const audioUrl = URL.createObjectURL(audioBlob);

                const audioElement = document.getElementById('audioPlayback');
                audioElement.src = audioUrl;

                const a = document.createElement('a');
                a.href = audioUrl;
                a.download = 'audio.wav';
                a.click();

                audioChunks = [];
            } catch (error) {
                console.error('Error during mediaRecorder onstop:', error);
            }
        };

        mediaRecorder.start();
        startRecordBtn.disabled = true;
        stopRecordBtn.disabled = false;
    });

    stopRecordBtn.addEventListener('click', () => {
        mediaRecorder.stop();
        startRecordBtn.disabled = false;
        stopRecordBtn.disabled = true;
    });
</script>
{{template "footer.tmpl"}}